@font-face {
    font-family: 'GT Pressura';
    src: url('../gtpressura/GTPressura-Bold.woff2') format('woff2'),
        url('../gtpressura/GTPressura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.contentBorder{
	position: fixed;
	top: 0;
  left: 0;
  right: 0;
  width: 96%;
  margin: 2%;
  display: grid;
  grid-template-columns: 3% 94% 3%;
	grid-template-rows: 5% 90% 5%;
}
.topBorder, .bottomBorder, .leftBorder, .rightBorder{
	background-color: white;
}
.topBorder {
	grid-column: 1/4;
  grid-row: 1/2;
	display:grid;
	grid-template-columns:	1fr 4fr 1fr 1fr 1fr;
}
.topLogo{
	margin:0;
	padding-left: 0px;
}
.topH1{
	margin:auto;
	margin-left: -18%;
	text-align: left;
	font-family: 'GT Pressura';
	font-weight: bold;
  font-style: normal;
	font-size: 30px;
}
.topH2 {
	margin:auto;
	margin-left: -5px;
	text-align: right;
	font-family: 'GT Pressura';
	font-weight: bold;
  font-style: normal;
	font-size: 25px;
}

.middleLogo {
	margin-top: 10%;
	margin-left: 35%;
}

.middleBorder {
	height:85vh;

}

.leftBorder {

}

.leftH2{

	margin-top: 1000%;
	transform: rotate(-90deg);
	white-space: nowrap;

	font-family: 'GT Pressura';
	font-weight: bold;
	font-size: 25px;

}

.rightBorder{
	grid-column:3/4;
	grid-template-rows: 1fr 1fr 1fr;
	display:grid;
}
.rightH2{
	text-align: center;
	transform: rotate(90deg);
  white-space: nowrap;
	transform-origin: 7% 7%;

	font-family: 'GT Pressura';
	font-weight: bold;
	font-style: normal;
	font-size: 25px;
}


.bottomBorder{
	grid-column: 1/4;
	grid-row: 3/4;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.bottomH2, .bottomH3 {
	padding-top: 8px;
}
.bottomH2 {
	text-align: center;
	grid-column: 1/2;
}

.bottomH3 {
	text-align: center;
	grid-column: 2/3;
}

.backgroundImages{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns:50% 50%;
	overflow: hidden;
}

.backgroundImages2 {
	margin-top: -50px;
}
