@font-face {
    font-family: 'GT Pressura';
    src: url('GTPressura-Bold.woff2') format('woff2'),
        url('GTPressura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

